<div class="container main-container">
  <h1>Gráficos Dinámicos <small>Angular</small></h1>
  <hr />

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="line-chart-tab"
        data-toggle="tab"
        href="#line-chart"
        role="tab"
        aria-controls="line-chart"
        aria-selected="true"
        >Line Chart</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="bar-chart-tab"
        data-toggle="tab"
        href="#bar-chart"
        role="tab"
        aria-controls="bar-chart"
        aria-selected="false"
        >Bar Chart</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="doughnut-chart-tab"
        data-toggle="tab"
        href="#doughnut-chart"
        role="tab"
        aria-controls="doughnut-chart"
        aria-selected="false"
        >Doughnut Chart</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="radar-chart-tab"
        data-toggle="tab"
        href="#radar-chart"
        role="tab"
        aria-controls="radar-chart"
        aria-selected="false"
        >Radar Chart</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="line-chart"
      role="tabpanel"
      aria-labelledby="line-chart-tab"
    >
      <app-line-chart></app-line-chart>
    </div>
    <div
      class="tab-pane fade"
      id="bar-chart"
      role="tabpanel"
      aria-labelledby="bar-chart-tab"
    >
      <app-bar-chart></app-bar-chart>
    </div>
    <div
      class="tab-pane fade"
      id="doughnut-chart"
      role="tabpanel"
      aria-labelledby="doughnut-chart-tab"
    >
      <app-doughnut-chart></app-doughnut-chart>
    </div>
    <div
      class="tab-pane fade"
      id="radar-chart"
      role="tabpanel"
      aria-labelledby="radar-chart-tab"
    >
      <app-radar-chart></app-radar-chart>
    </div>
  </div>
</div>
